#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.gridBox {
  margin-top: 15px;
  display: grid;
  grid: auto-flow / repeat(4, 60px);
  justify-content: space-evenly;
  width: 300px;
  column-gap: 20px;
  row-gap: 20px;
}

button {
  border: 1px solid black;
  height: 60px;
  font-size: 24px;
  padding: 0;
}
input{
  margin-bottom: 15px;
}
